// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.blue{
    color:$blue;
}

.indigo{
    color: $indigo;
}
.purple {
    color: $purple ;
}
.pink {
    color: $pink;
}
.red {
    color: $red;
}
.orange{
    color: $orange;
}
.yellow{
    color: $yellow
}

.green{
    color: $green;
} 
.teal{
    color: $teal;
} 
.cyan{
    color:$cyan;
}


.table__icon {
    width: 2rem;
    height: 2rem;
}

.tech__icon {
    font-size: 3rem;
    color: #3490dc;
}

.td__name {
    white-space: nowrap !important;
}

.table__avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: $body-bg;
}


.logo-img {
    margin-left: 4rem;
    display: block;
    height: 4rem;
}
