
  .jcarousel {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding: 2rem 20rem;

      @media only screen and (max-width: 900px) {
       padding: 2rem 3rem;
    }
      
      ul {
          width: 20000em;
          position: relative;
  
          /* Optional, required in this case since it's a <ul> element */
          list-style: none;
          margin: 0;
          padding: 0;
          height: 100%;
          /* Clear fix */
          &:before {
            content: ' ';
            display: table;
          }
          &:after {
            content: ' ';
            display: table;
          }
      }
      /*
      These are the item elements. jCarousel works best, if the items
      have a fixed width and height (but it's not required).
      */
      li {
          /* Required only for block elements like <li>'s */
          float: left;
          width: 0;
          height: 100%;
          margin-right: 10rem;

          @media only screen and (max-width: 900px) {
            margin-right: 6rem;
        }
      }
  }
  
  
  

  
  /**
   *  pagination
   */
  .jcarousel-pagination {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 5px;
    padding: 0;
    margin: 0;
    a {
      width: 1.5rem;
      height: 1.5rem;
      display: inline-block;
      background: #fff;
      border-radius: 50%;
      border: 1px solid $color-secondary;

      &.active {
        background: $color-primary;
      }

    }

    @media only screen and (max-width: 900px) {
      display: none;
  }
  }

  